<h4>Formularios <small>template</small></h4>
<hr>
<form (ngSubmit)="guardar(forma)" #forma="ngForm">

    <div>

        <div class="form-group row" [ngClass]="{'has-danger': (nombre.errors?.minlength || nombre.errors?.required) && nombre.touched}">
            <label class="col-2 col-form-label">Nombre</label>
            <div class="col-8">

                <input class="form-control" name="Nombre" minlength="4" [(ngModel)]="usuario.Nombre" type="text" placeholder="Nombre" required #nombre="ngModel">
                <div *ngIf="nombre.errors?.required && nombre.touched" class="form-control-feedback">
                    Este campo es requerido
                </div>
                <div *ngIf="nombre.errors?.minlength" class="form-control-feedback">por lo menos {{nombre.errors.minlength.requiredLength}} caracteres</div>
            </div>
        </div>

        <div class="form-group row" [ngClass]="{'has-danger': apellido.errors?.required && apellido.touched}">
            <label class="col-2 col-form-label">Apellido</label>
            <div class="col-8">

                <input class="form-control" #apellido="ngModel" name="Apellido" [(ngModel)]="usuario.Apellido" type="text" placeholder="Apellido" required>
                <div *ngIf="apellido.errors?.required && apellido.touched" class="form-control-feedback">
                    Este campo es requerido
                </div>
            </div>
        </div>

    </div>

    <div class="form-group row" [ngClass]="{'has-danger': (correo.errors?.required || correo.errors?.pattern) && correo.touched}">
        <label class="col-2 col-form-label">Correo</label>
        <div class="col-md-8">

            <input #correo="ngModel" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" [(ngModel)]="usuario.Correo" name="Correo" type="email" placeholder="Correo electrónico" required>
            <div *ngIf="correo.errors?.required && correo.touched" class="form-control-feedback">
                Este campo es requerido
            </div>
            <div *ngIf="correo.errors?.pattern && correo.touched" class="form-control-feedback">
                El campo no tiene el formato correcto
            </div>
        </div>
    </div>

    <div class="form-group row" [ngClass]="{'has-danger': pais.errors?.required && pais.touched}">
        <label class="col-2 col-form-label">Pais</label>
        <div class="col-md-8">
            <select name="pais" #pais="ngModel" [(ngModel)]="usuario.pais" class="form-control" required>
            <option value="">Seleccione un Pais</option>
            <option *ngFor="let pais of paises" [value]="pais.codigo">{{pais.nombre}}</option>
        </select>
            <div *ngIf="pais.errors?.required && pais.touched" class="form-control-feedback">
                Este campo es requerido
            </div>
        </div>
    </div>

    <div class="form-group row" [ngClass]="{'has-danger': pais.errors?.required && pais.touched}">
        <label class="col-2 col-form-label">Sexo</label>
        <div class="col-md-8">
            <label *ngFor="let s of sexos, let i = index" class="custom-control custom-radio">
                <input id="radio{{i}}" [(ngModel)]="usuario.sexo" name="sexo" [value]="s" type="radio" class="custom-control-input">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">{{s}}</span>
              </label>
            <!-- <label class="custom-control custom-radio">
                <input [(ngModel)]="usuario.sexo" name="sexo" value="mujer" type="radio" class="custom-control-input">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Mujer</span>
              </label> -->
            <div *ngIf="pais.errors?.required && pais.touched" class="form-control-feedback">
                Este campo es requerido
            </div>
        </div>
    </div>

    <div class="form-group row" [ngClass]="{'has-danger': pais.errors?.required && pais.touched}">
        <label class="col-2 col-form-label">Acepta</label>
        <div class="col-md-8">

            <label class="custom-control custom-checkbox">
            <input type="checkbox" [(ngModel)]="usuario.acepta" name="acepta" class="custom-control-input" required>
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Acepta las condiciones</span>
          </label>
        </div>
    </div>


    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">

            <button [disabled]="forma.invalid" type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
        </div>
    </div>

</form>


<pre>   
    {{usuario | json}}
</pre>